@import 'variables';

.auth-wrapper {
  min-height: 100vh;
  position: relative;

  .auth-box {
    background: $white;
    padding: 20px;
    box-shadow: $shadow;
    max-width: 400px;
    width: 90%;
  }
}
